/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Raleway', sans-serif;
}
h1 {
  font-size: 4rem;
  font-weight: 700;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h3 {
  font-size: 3rem;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 2%;
}
@media (max-width: 500px) {
  .container {
    max-width: 90%;
  }
}
a {
  text-decoration: none;
  color: white;
}
.text-link {
  color: #0c3c60;
  padding: 5px;
  font-size: 1.5rem;
}
.text-link:hover {
  background-color: #d1e0eb;
  padding: 5px;
}
.content-group {
  display: flex;
  padding: 7% 0;
  border-bottom: 2px dotted #0c3c60;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .content-group {
    flex-direction: column;
    justify-content: center;
  }
}
.content-group .text-content {
  padding-right: 30px;
  text-align: center;
  width: 60%;
}
@media (max-width: 500px) {
  .content-group .text-content {
    width: 100%;
    height: 60%;
    padding: 0 0 10%;
  }
}
.content-group .text-content h2 {
  margin-bottom: 3%;
}
.content-group .middle-text {
  padding-left: 30px;
  padding-right: 0px;
}
@media (max-width: 500px) {
  .content-group .middle-text {
    padding: 0 0 10%;
  }
}
.content-group .img-content {
  width: 35%;
}
@media (max-width: 500px) {
  .content-group .img-content {
    height: 35%;
    width: 100%;
  }
}
.content-group .SAFEImg {
  text-align: center;
}
.middle-content {
  flex-direction: row-reverse;
}
@media (max-width: 500px) {
  .middle-content {
    flex-direction: column;
  }
}
.bottom-content {
  border: none;
}
.intro {
  text-align: center;
  margin: 5% 0;
}
.intro h2 {
  font-size: 4rem;
}
.intro p {
  font-size: 2rem;
  margin-top: 2.5%;
}
.contact-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 500px) {
  .contact-cards {
    flex-direction: column;
  }
}
.info {
  width: 48%;
  margin-bottom: 10%;
  text-align: center;
}
@media (max-width: 500px) {
  .info {
    width: 100%;
  }
}
.info .contact-button {
  background-color: #20ce88;
  padding: 3% 3%;
  border: none;
  border-radius: 5%;
  margin-top: 5%;
  box-shadow: 0 8px 16px 0 gray, 0 6px 20px 0 gray;
}
.info .contact-button:hover {
  background-color: #d1e0eb;
}
.info .contact-button a:hover {
  color: navy;
}
.card-container {
  width: 80%;
  height: 400px;
  margin: 5% auto;
  text-align: center;
  perspective: 1000px;
}
.card-container .card {
  width: 100%;
  height: 100%;
  box-shadow: 0 8px 16px 0 gray, 0 6px 20px 0 gray;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  text-align: center;
}
.card-container .card .card-face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}
.card-container .card .back {
  color: white;
  background-color: #0c3c60;
  transform: rotateY(180deg);
}
.card-container .card .back p {
  margin: 20% 0;
}
.card-container .card img {
  height: 100%;
  width: 100%;
  display: block;
}
.is-flipped {
  transform: rotateY(180deg);
}
footer {
  background-color: #0c3c60;
  display: flex;
  justify-content: space-around;
  padding: 2.8rem;
}
@media (max-width: 500px) {
  footer {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  footer .footer-nav {
    padding-bottom: 35px;
  }
}
footer .footer-links {
  padding: 8px;
  font-size: 1.5rem;
  color: white;
}
footer .footer-links:hover {
  color: #0c3c60;
  background-color: #d1e0eb;
}
footer .footer-social-list .footer-social {
  padding: 8px;
}
footer .footer-social-list .footer-social:hover {
  background: #d1e0eb;
}
@media (max-width: 500px) {
  footer .footer-social-list {
    padding-bottom: 25px;
  }
}
footer a {
  font-size: 1.5rem;
}
footer a:hover {
  color: #0c3c60;
}
footer .fa-lg::before {
  margin-right: 20px;
}
footer .fa-facebook::before {
  margin-right: 26px;
}
footer .footer-buttons {
  display: flex;
  flex-direction: column;
}
@media (max-width: 500px) {
  footer .footer-buttons {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
  }
}
footer .footer-buttons .contact-btn,
footer .footer-buttons .donate-btn {
  background-color: #20ce88;
  border: none;
  border-radius: 5%;
  color: white;
  width: 90px;
  padding: 10px 0 10px 0;
  font-size: 1.5rem;
}
footer .footer-buttons .contact-btn:hover,
footer .footer-buttons .donate-btn:hover {
  background-color: #d1e0eb;
}
footer .footer-buttons .contact-btn a:hover,
footer .footer-buttons .donate-btn a:hover {
  color: #0c3c60;
}
footer .footer-buttons .donate-btn {
  margin-top: 20px;
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5%;
  padding-bottom: 5%;
  background-color: #0c3c60;
  padding: 1% 0;
}
@media (max-width: 500px) {
  header {
    padding-bottom: 15%;
    margin-bottom: 15%;
    padding-top: 3%;
    flex-direction: column;
  }
}
header .header-text {
  color: white;
  display: flex;
  align-items: center;
  margin-right: 25%;
  margin-left: 4%;
}
@media (max-width: 500px) {
  header .header-text {
    margin: 0 auto;
  }
}
header .header-text h1 {
  font-size: 5rem;
}
@media (max-width: 768px) {
  header .header-text h1 {
    text-align: center;
  }
}
header .header-text .logo {
  width: 120px;
}
@media (max-width: 500px) {
  header .header-text .logo {
    display: none;
  }
}
.nav-container {
  background-color: #0c3c60;
}
.nav-container .hamburger-icon {
  display: none;
}
@media (max-width: 500px) {
  .nav-container .hamburger-icon {
    display: block;
    margin-top: -22%;
    text-align: center;
    padding-bottom: 5%;
  }
}
.nav-container .header-nav {
  display: flex;
  justify-content: center;
  background-color: #0c3c60;
  border-top: 1px solid white;
}
@media (max-width: 500px) {
  .nav-container .header-nav {
    border: none;
    flex-direction: column;
    margin-top: 0;
  }
}
.nav-container .header-nav a {
  font-size: 1.5rem;
  padding: 2% 3%;
  color: white;
  text-align: center;
}
@media (max-width: 500px) {
  .nav-container .header-nav a {
    padding: 4% 3%;
  }
}
.nav-container .header-nav a:hover {
  background-color: #d1e0eb;
  color: black;
}
@media (max-width: 500px) {
  .hidden {
    height: 0;
    overflow: hidden;
  }
}
.header-styling {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  margin-right: 7%;
  margin-left: -9%;
}
@media (max-width: 500px) {
  .header-styling {
    margin: 0 auto;
    margin-top: 5%;
  }
}
.header-styling .header-socials {
  display: flex;
  justify-content: center;
  margin-bottom: 30%;
  flex-shrink: 1;
}
.header-styling .header-socials .fa {
  border-radius: 50%;
  padding: 10%;
  margin: 0 10%;
}
.header-styling .header-socials .fa-facebook {
  color: white;
}
.header-styling .header-socials .fa-twitter {
  color: white;
}
.header-styling .header-socials .fa-instagram {
  color: white;
}
.header-styling .support-button {
  margin: 0 auto;
  background-color: #20ce88;
  border: none;
  border-radius: 5%;
  color: white;
  width: 100px;
  height: 30px;
  font-size: 1.5rem;
}
.header-styling .support-button:hover {
  background-color: #d1e0eb;
  color: black;
}
.tabs {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.tabs .tab-items {
  width: 100%;
  padding-top: 10px;
  border: 2px solid #d1e0eb;
  min-height: 400px;
}
.tabs .tab-item {
  display: none;
}
.tabs .tab-item-selected {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
@media (max-width: 500px) {
  .tabs .tab-item-selected {
    display: block;
  }
}
.tabs .tab-item-selected .tab-text {
  max-width: 75%;
  padding-left: 20px;
}
@media (max-width: 500px) {
  .tabs .tab-item-selected .tab-text {
    min-width: 100%;
  }
}
@media (max-width: 500px) {
  .tabs .tab-item-selected .ride-img {
    display: none;
  }
}
.tabs .tab-links {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  background-color: #d1e0eb;
}
.tabs .tab-link {
  padding: 20px 25px;
  font-size: 2.2rem;
  background-color: #d1e0eb;
  border-right: 1px solid white;
  width: 100%;
  text-align: center;
  color: white;
  cursor: pointer;
}
.tabs .tab-link:hover {
  color: #0c3c60;
}
@media (max-width: 500px) {
  .tabs .tab-link {
    font-size: 2rem;
    padding: 20px 0 0 0;
  }
}
.tabs .tab-link-selected {
  z-index: 2;
  background-color: white;
  color: black;
}
.tabs .tab-link-selected:hover {
  background-color: white;
}
.home h2 {
  text-align: center;
  margin: 5% 0;
}
.intro {
  padding-bottom: 20px;
}
@media (max-width: 768px) {
  .intro {
    padding: 0 40px 0 40px;
  }
}
@media (max-width: 500px) {
  .intro {
    padding: 0;
  }
}
.intro .intro-wrapper {
  display: flex;
  align-items: center;
}
.intro .intro-wrapper .intro-text {
  width: 70%;
}
@media (max-width: 500px), (max-width: 768px) {
  .intro .intro-wrapper .intro-text {
    width: 100%;
  }
}
.intro .intro-wrapper .intro-text p {
  text-align: left;
}
.intro .intro-wrapper .intro-img {
  padding-right: 15px;
  width: 190px;
}
@media (max-width: 500px), (max-width: 768px) {
  .intro .intro-wrapper .intro-img {
    display: none;
  }
}
.accordion {
  padding-bottom: 20px;
}
@media (max-width: 768px) {
  .accordion {
    width: 90%;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .accordion {
    width: 100%;
    margin: 0 auto;
  }
}
.accordion .panel-bar {
  border: 1px solid #0c3c60;
  margin: 10px 0 10px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.accordion .panel-bar:hover {
  background-color: #d1e0eb;
}
.accordion .panel-bar .panel-header:hover {
  cursor: pointer;
}
.panel-content {
  display: flex;
  padding: 15px 0 15px 0;
}
.panel-content .panel-text {
  width: 70%;
}
@media (max-width: 500px) {
  .panel-content .panel-text {
    width: 100%;
  }
}
.panel-content .panel-text p {
  padding-bottom: 20px;
}
.panel-content .panel-text .text-link {
  border: 2px solid #0c3c60;
}
.panel-content .panel-image {
  width: 200px;
  padding-right: 20px;
}
@media (max-width: 500px) {
  .panel-content .panel-image {
    display: none;
  }
}
.show {
  display: block;
}
.hide {
  display: none;
}
.form-wrapper {
  text-align: center;
  margin: 40px 0 40px 0;
}
.form-wrapper .inner-wrapper {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.sign-up-form {
  border-radius: 5px;
  display: inline-block;
  width: 66%;
  background-color: #d1e0eb;
  box-shadow: 10px 10px 5px grey;
}
@media (max-width: 500px) {
  .sign-up-form {
    width: 100%;
  }
}
.sign-up-form .form-header {
  padding: 40px 0 20px 0;
}
.sign-up-form .form-header::before,
.sign-up-form .form-header::after {
  display: inline-block;
  content: "";
  border-top: 0.1rem solid #0c3c60;
  width: 31%;
  margin: 0 18px;
  transform: translateY(-1rem);
}
@media (max-width: 500px) {
  .sign-up-form .form-header::before,
  .sign-up-form .form-header::after {
    display: none;
  }
}
@media (max-width: 773px) {
  .sign-up-form .form-header::before,
  .sign-up-form .form-header::after {
    display: none;
  }
}
@media (max-width: 500px) {
  .sign-up-form .form-tag {
    padding: 30px 30px 0px 30px;
  }
}
.sign-up-form .name {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .sign-up-form .name {
    flex-direction: column;
  }
}
.sign-up-form .name .first-name {
  width: 45%;
}
@media (max-width: 500px) {
  .sign-up-form .name .first-name {
    width: 100%;
  }
}
.sign-up-form .name .last-name {
  width: 45%;
}
@media (max-width: 500px) {
  .sign-up-form .name .last-name {
    width: 100%;
  }
}
.sign-up-form .input {
  width: 100%;
  height: 70%;
  padding: 10px;
  border: 2px solid #d1e0eb;
  border-radius: 5px;
  margin: 20px 0 20px 0;
}
.sign-up-form .terms {
  display: flex;
  align-items: baseline;
  padding: 20px 0 20px 0;
}
@media (max-width: 500px) {
  .sign-up-form .terms {
    text-align: left;
  }
}
.sign-up-form .terms .checkbox-wrapper {
  padding-right: 10px;
}
.sign-up-form .terms .terms-text {
  font-size: 1.4rem;
}
.sign-up-form .terms .terms-text .terms-links {
  text-decoration: underline;
}
.sign-up-form .submit {
  background-color: #0c3c60;
  color: #d1e0eb;
  font-size: 2.8rem;
  border-radius: 5px;
  border: none;
  box-shadow: 5px 5px 3px grey;
  padding: 20px;
}
.sign-up-form .submit:hover {
  cursor: pointer;
}
