/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Raleway', sans-serif;
}
h1 {
  font-size: 4rem;
  font-weight: 700;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h3 {
  font-size: 3rem;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    max-width: 90%;
  }
}
a {
  text-decoration: none;
  color: white;
}
.text-link {
  color: #0c3c60;
  padding: 5px;
  font-size: 1.5rem;
}
.text-link:hover {
  background-color: #d1e0eb;
  padding: 5px;
}
footer {
  background-color: #0c3c60;
  display: flex;
  justify-content: space-around;
  padding: 2.8rem;
}
footer .footer-links {
  padding: 8px;
  font-size: 1.5rem;
  color: white;
}
footer .footer-links:hover {
  color: #0c3c60;
  background-color: #d1e0eb;
}
footer .footer-links:before {
  content: "";
  background: url('../images/logo2.png') no-repeat 0 0;
  height: 10px;
}
footer .footer-social {
  padding: 8px;
}
footer .footer-social:hover {
  background-color: #d1e0eb;
}
footer a {
  font-size: 1.5rem;
}
footer a:hover {
  color: #0c3c60;
}
footer .fa-lg::before {
  margin-right: 20px;
}
footer .fa-facebook::before {
  margin-right: 26px;
}
footer .footer-buttons {
  display: flex;
  flex-direction: column;
}
footer .footer-buttons .contact-btn,
footer .footer-buttons .donate-btn {
  background-color: #20ce88;
  border: none;
  border-radius: 5%;
  color: white;
  width: 90px;
  height: 30px;
  font-size: 1.5rem;
}
footer .footer-buttons .contact-btn:hover,
footer .footer-buttons .donate-btn:hover {
  background-color: #d1e0eb;
}
footer .footer-buttons .contact-btn a:hover,
footer .footer-buttons .donate-btn a:hover {
  color: navy;
}
footer .footer-buttons .donate-btn {
  margin-top: 20px;
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5%;
  margin-bottom: 5%;
  background-color: #0c3c60;
  padding: 4% 0;
}
header .hamburger-icon {
  align-self: flex-start;
  margin-left: 5%;
  margin-bottom: 5%;
}
header .header-text {
  color: white;
  flex-grow: 1.5;
  margin-left: 25%;
  display: flex;
  align-items: center;
}
header .header-text h1 {
  font-size: 5rem;
}
header .header-text .logo {
  width: 120px;
}
.header-nav {
  display: flex;
  flex-direction: column;
  background-color: #0c3c60;
  margin-top: -5%;
}
.header-nav a {
  padding: 2%;
  color: white;
  border-top: 1px solid white;
  text-align: center;
}
.hidden {
  height: 0;
  overflow: hidden;
}
.header-socials {
  display: flex;
  justify-content: center;
  width: 20%;
  flex-shrink: 1;
  margin-right: 4%;
}
.header-socials .fa {
  border-radius: 50%;
  padding: 5%;
  margin: 0 3%;
}
.header-socials .fa-facebook {
  padding: 5% 6%;
  border: 1px solid white;
  color: white;
}
.header-socials .fa-twitter {
  background-color: #55ACEE;
  color: white;
}
.header-socials .fa-instagram {
  background-color: red;
  color: white;
}
.tabs {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.tabs .tab-items {
  width: 100%;
  padding-top: 10px;
  border: 2px solid #d1e0eb;
  height: 350px;
}
.tabs .tab-item {
  display: none;
}
.tabs .tab-item-selected {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.tabs .tab-item-selected .tab-text {
  max-width: 75%;
  padding-left: 20px;
}
.tabs .tab-links {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  background-color: #d1e0eb;
}
.tabs .tab-link {
  padding: 20px 25px;
  font-size: 2.2rem;
  background-color: #d1e0eb;
  border-right: 1px solid white;
  width: 100%;
  text-align: center;
  color: white;
  cursor: pointer;
}
.tabs .tab-link:hover {
  color: #0c3c60;
}
.tabs .tab-link-selected {
  z-index: 2;
  background-color: white;
  color: black;
}
.tabs .tab-link-selected:hover {
  background-color: white;
}
.home h2 {
  text-align: center;
  margin: 5% 0;
}
.panel-bar {
  border: 1px solid #0c3c60;
  margin: 10px 0 10px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.panel-bar:hover {
  background-color: #d1e0eb;
}
.panel-header:hover {
  cursor: pointer;
}
.panel-content {
  display: flex;
}
.panel-content .panel-img {
  width: 400px;
  padding-right: 20px;
}
.show {
  display: block;
}
.hide {
  display: none;
}
