.intro {
  padding-bottom: 20px;
  @media @tablet {
    padding: 0 40px 0 40px;
  }
  @media @mobile {
    padding: 0;
  }
  .intro-wrapper {
    display: flex;
    align-items: center;
    .intro-text {
      width: 70%;
      @media @mobile, @tablet {
        width: 100%;
      }
      
      p {
        text-align: left;
      }
    }
    
    .intro-img {
      padding-right: 15px;
      width: 190px;

      @media @mobile, @tablet {
        display: none;
      }
    }
  }
 
}

.accordion {
  padding-bottom: 20px;
  @media @tablet {
    width: 90%;
    margin: 0 auto;
  }
  @media @mobile {
    width: 100%;
    margin: 0 auto;
  }
  .panel-bar {
    border: 1px solid @navy;
    margin: 10px 0 10px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    &:hover {
      background-color: @light-blue;
    }
    .panel-header:hover {
      cursor: pointer;
    }
  }
}

.panel-content {
  display: flex;
  padding: 15px 0 15px 0;
  .panel-text {
    width: 70%;
    @media @mobile {
      width: 100%;
    }
    p {
      padding-bottom: 20px;
    }
    .text-link {
      border: 2px solid @navy;
    }
  }
  
  .panel-image {
    width: 200px;
    padding-right: 20px;
    @media @mobile {
      display: none;
    }
  }
}

.show {
  display: block;
}

.hide {
  display:none;
}