header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5%;
    padding-bottom: 5%;
    background-color: @header-bg;
    padding: 1% 0;

    @media @mobile {
        padding-bottom: 15%;
        margin-bottom: 15%;
        padding-top: 3%;
        flex-direction: column;
    }
    
    .header-text {
        color: white;
        display: flex;
        align-items: center;
        margin-right: 25%;
        margin-left: 4%;

        @media @mobile {
            margin: 0 auto;
        }

        h1 {
            font-size: 5rem;

            @media @tablet {
                text-align: center;
            }
        }

        .logo {
            width: 120px;

            @media @mobile {
                display: none;
            }
        }
    }
}

.nav-container {
    background-color: @header-bg;

    .hamburger-icon {
        display: none;

        @media @mobile {
            display: block;
            margin-top: -22%;
            text-align: center;
            padding-bottom: 5%;
        }
    }

    .header-nav {
        display: flex;
        justify-content: center;
        background-color: @header-bg;
        border-top: 1px solid white;

        @media @mobile {
            border: none;
            flex-direction: column;
            margin-top: 0;
        }

        .item-1 {
            @media @mobile {
            }
        }

        a {
            font-size: 1.5rem;
            padding: 2% 3%;
            color: white;
            text-align: center;

            @media @mobile {
                padding: 4% 3%;
            }

            &:hover {
                background-color: @light-blue;
                color: black;
            }
        }
    }
}

.hidden {
    @media @mobile {
        height: 0;
        overflow: hidden;
    }
}

.header-styling {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin-right: 7%;
    margin-left: -9%;

    @media @mobile {
        margin: 0 auto;
        margin-top: 5%;
    }

    .header-socials {
        display: flex;
        justify-content: center;
        margin-bottom: 30%;
        flex-shrink: 1;
        
        .fa {
            border-radius: 50%;
            padding: 10%;
            margin: 0 10%;
        }

        .fa-facebook {
            color: white;
        }

        .fa-twitter {
            color: white;
        }

        .fa-instagram {
            color: white;
        }
    }
    
    .support-button{
        margin: 0 auto;
        background-color: @green;
        border: none;
        border-radius: 5%;
        color: white;
        width: 100px;
        height: 30px;
        font-size: 1.5rem;
        &:hover {
            background-color: @light-blue;
            color: black;
        }
    }
}