// Colors
@navy: #0c3c60;
@light-blue: #d1e0eb;
@green: #20ce88;

//55c6c9

// Color assignments
@header-bg: @navy;
@menu-bg: @light-blue;
@footer-bg: @navy;
@buttons: @green;

// Mixins
@test: 1px solid red;

// Media Queries

@mobile: ~'(max-width: 500px)';
@tablet: ~'(max-width: 768px)';